<h1><%= @task.title %></h1>
<div class="card">
  <p><%== @task.completed ?
  '<i class="fas fa-check-square"></i>' :
  '<i class="fas fa-square"></i>'%> - <%= @task.details %></p>
</div>
<%= link_to 'Completed', completed_path(@task), method: :patch %>
<%= link_to  'Edit the task', edit_task_path(@task)  %>
<%= link_to 'Back to index', tasks_path  %>

